.title {
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  right: 5px;
  text-align: center;
}
.link {
  width: 100px;
  margin: 10px;
  text-decoration: none;
  color: #000080;
  font-weight: bold;
}
.header {
  font-size: 30px;
  color: #000080;
  width: 400px;
  padding: 15px;
}
h1 {
  display: inline;
}
.main {
  position: relative;
}
.main-img {
  position: relative;
}
img {
  width: 50%;
  position: absolute;
  top: 10px;
  left: 50%;

}
.main-text {
  font-size: 60px;
}
.box {
  width: 1000px;
  height: 200px;
  background-color: #000080;
}
.main-content {
  position: absolute;
  top: 300px;
  margin-bottom: 100px;
}
