.title {
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  right: 5px;
}
.link {
  width: 100px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.header {
  font-size: 30px;
  color:blue;
  width: 400px;
  padding: 15px;
  
}
h1 {
  display: inline;
}
.img {
  width: 100px;
  height: 75px;
}